/*! project specific CSS goes here. */

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #f2f2f2;
}

footer {
  padding: 100px 0;
}

.select2-container {
  margin: 0 0 1rem 0;
}

.google-map{
    width: 1000px;
    height: 400px;
}

@media only screen and (max-width: 40em) {
    .google-map{
        width: 100%;
        height: 350px;
    }
}

