{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}geo_church{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/geo_church.css' %}" rel="stylesheet">
    <!--<link href="{% static 'css/page_contact.css' %}" rel="stylesheet">-->

    <!-- Use this to quickly test CSS changes in a template,
        then move to geo_church.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Encontre sua igreja (Beta)</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#contact">Contato</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <h1>{% block page_title %}Aonde está minha igreja?{% endblock page_title %}</h1>

      {% block content %}

        <div class="row">
            <div class="col-md-6 md-margin-bottom-40">
                <form action="{% url 'map_page' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                    <select id="church" class="js-example-placeholder-single form-control" name="address" required="required">
                        <option></option>
                        {% for church in igrejas %}
                        <option value="{{ church.city }} {{ church.address }}">{{ church.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <input type="text" hidden="hidden" name="church_name" id="church_name">
                    <button type="submit" class="btn btn-primary btn-block">Buscar</button>
                </form>
            </div>
            <div class="col-md-6 md-margin-bottom-40">
            </div>
        </div>

        <div>

        </div>
        <!-- Google Map -->
        <!--<div id="map" class="map">
        </div>--><!---/map-->
        <!-- End Google Map -->

        {% block map %}

        {% endblock map %}

      {% endblock content %}

    </div> <!-- /container -->

    <div id="footer">
      <div class="container">

      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/geo_church.js' %}"></script>
    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>
    <!--<script type="text/javascript" src="{% static 'js/gmap/gmap.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'js/page_contacts.js' %}"></script>-->
    <script type="text/javascript">
        $('select').select2()
        .on("select2:select", function(e){
            ($('#church_name')).val($('#church :selected').text());
            });
        $(".js-example-placeholder-single").select2({
            placeholder: "Selecione uma congregação",
            allowClear: true
        });
    </script>

    <!--var $eventSelect = $(".js-example-placeholder-single");
        $eventSelect.on("select2:select", function (e) {
            $("#church_name").value = $('#church :selected').text();
            console.log($('#church :selected').text());
        }-->

    <!--Isto vai após o document ready
    ContactPage.initMap();

    var $eventSelect = $(".js-example-events");
    $eventSelect.on("select2:select", function (e) {
        $.ajax({
            type: 'POST',
            csrfmiddlewaretoken: '{{ csrf_token }}',
            url: '{% url 'map_page' %}',
            success: function(){alert('DONE!');},
            error:function(){alert('ERROR!');},
        });
    });-->

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
