{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <h2>{% block page_title %}Contato{% endblock page_title %}</h2>

    <div class="row">
        <div class="large-8 columns">
            <form action="{% url 'contato' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="large-12 columns">
                        <label>Nome
                            <input type="text" placeholder="Seu nome" name="nome" title="Nome" required="required" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Email
                            <input type="text" placeholder="Seu email" name="email" title="Email" required="required" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Mensagem
                            <textarea placeholder="Sua mensagem" name="mensagem" title="Mensagem" required="required"></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <button type="submit" class="button radius">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="large-4 columns">
            <p>Envie sua mensagem, sugestões, críticas, reclamações. Opiniões são sempre bem-vindas.</p>
            <p>Se algum dos endereços estiver incorreto ou não corresponder à realidade, entre em contato que estaremos providenciando a correção.</p>
        </div>
    </div>

{% endblock content %}